@import '../../styles/_variables'

.pagination 
    margin-left: auto
    text-align: center
    
    &__button
      background-color: $card-bg-color
      color: $color-white
      font-size: $font-size-4
      margin: 0 0.313rem
      border-style: none
      border-radius: 0.125rem
      box-shadow: $box-shadow
      width: 1.8rem
      height: 1.8rem

      &--active 
        background-color: $color-orange
        color: $color-white
       
