@import '../../styles/_variables'
@import '../../styles/_mixins'

.program

    &__main
        display: flex
        flex-direction: column
        height: calc(100vh - 6rem)

    &__pagination
        +pagination

    &__spinner
        margin-top: 12.5rem

    &__modal-error
        color: $color-error
        font-size: $font-size-14

    &__modal-title
        font-size: $font-size-20
        margin-bottom: 0.8rem

    &__modal-input
        +modal-input
        margin-bottom: 0.625rem

    &__modal-input::placeholder
        font-size: $font-size-3
        color: $color-gray

    &__modal-btn
        margin-top: 0.625rem

    &__modal-btn-cancel
        +modal-btn
        margin-right: 1.875rem
        background-color: $card-bg-color
        &
            @include interactive-item($card-bg-color-hover, $card-bg-color-active)

    &__modal-btn-add
        +modal-btn
        &
            @include interactive-item($color-orange-hover, $color-orange-active)
