@media (max-width: 1600px)
    .program-content--with-wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(3, auto)
        gap: 2.5 rem
        padding: 0rem 1.875rem 4rem 1.875rem
        justify-content: space-between

@media (max-width: 992px)

@media (max-width: 768px)

@media (max-width: 576px)
