@import '../../styles/_variables'
@import '../../styles/_mixins'

@media (max-width: 900px)
    .empty-state
        &__message
            margin-top: 25%

@media (max-width: 800px)
    .empty-state
        &__message
            margin-top: 30%

@media (max-width: 600px)
    .empty-state
        &__message
            margin-top: 40%
@media (max-width: 500px)
    .empty-state
        &__message
            margin-top: 50%
@media (max-width: 450px)
    .empty-state
        &__message
            font-size: 1.3rem
