@import '../../../styles/_mixins'
@import '../../../styles/_variables'
@import '../../../styles/_placeholders'

.program-content
  &--with-wrapper
    +card-wrapper
  &__settings-menu
    width: 10rem
    font-size: $font-size-14

  &__settings-menu li:first-child
    @include settings-menu-item(0.75rem, 0.5625rem)

  &__settings-menu li:last-child
    @include settings-menu-item(0.5625rem, 0.75rem)

  &__icon-button
    @extend %button-style

  &__settings-icon
    margin-right: 0.7rem
    width: 1rem

.program-content__card
  +card
  &:hover
    background-color: $card-bg-color-hover

  &-header
    @extend %flex-space-between

  &-title
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-size: $font-size-20

  &-user,
  &-date
    @extend %text-style
    font-weight: $font-weight-medium
    font-size: $font-size-14

  &-user-container
    display: flex
    align-items: center

  &-footer
    @extend %flex-space-between
    padding-right: 0.4375rem
    margin-top: 2.8rem

  &-profile-icon
    width: 1.25rem
    margin-right: 0.625rem

  &-days
    @extend %text-style
    font-weight: $font-weight-normal
    font-size: $font-size-14

  &-title-button
    background-color: $color-bg-input-edit
    height: 2rem
    width: 16rem
    border-radius: 0.313rem
    outline: none
    color: $color-white
    font-size: $font-size-4
    font-weight: $font-weight-medium
