@import '../../../styles/_mixins'
@import '../../../styles/_variables'
@import '../../../styles/_placeholders'

.program-content
  &--with-wrapper
    +card-wrapper
  &__settings-menu
    width: 9rem
    font-size: $font-size-14
    &--list
      align-items: center

  &__settings-menu li:first-child
    @include settings-menu-item(0.55rem, 0rem)
  &__settings-menu li:last-child
    @include settings-menu-item(0.2rem, 0.55rem)

  &__icon-button
    @extend %button-style

  &__settings-icon
    font-size: 1.4rem
  &__settings-icon--active
    color: #FF6600
    font-size: 1.4rem
  &__edit-icon,
  &__delete-icon
    padding-right: 0.5rem
    font-size: 1.7rem

.program-content__card
  +card
  &:hover
    background-color: $card-bg-color-hover

  &-header
    @extend %flex-space-between

  &-title
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-size: $font-size-20

  &-user,
  &-date
    @extend %text-style
    font-weight: $font-weight-medium
    font-size: $font-size-14

  &-user-container
    display: flex
    align-items: center

  &-footer
    @extend %flex-space-between
    padding-right: 0.4375rem
    margin-top: 2.8rem

  &-days
    @extend %text-style
    font-weight: $font-weight-normal
    font-size: $font-size-14

  &-title-button
    background-color: $color-bg-input-edit
    height: 2rem
    width: 16rem
    border-radius: 0.313rem
    outline: none
    color: $color-white
    font-size: $font-size-4
    font-weight: $font-weight-medium
