@import '../../../styles/_variables-landing'

@media (max-width: 1250px)
    .contact
        padding: 0 2rem
@media (max-width: 1150px)
    .contact
        &__error
            font-size: $font-size-12
        &__input
            width: 30rem

@media (max-width: 986px)
    .contact
        &__input
            width: 25rem
        &__title
            font-size: $font-size-27
        &__subtitle
            font-size: $font-size-15

@media (max-width: 900px)
    .contact
        &__input
            width: 22rem
        &__title
            font-size: $font-size-25

@media (max-width: 850px)
    .contact
        &__forms
            gap: 1rem
        &__input
            width: 22rem
            &-question
                height: 7rem
                padding-top: 0.625rem
        &__title
            font-size: $font-size-23
        &__subtitle
            font-size: $font-size-14
        &__img
            max-height: 17rem
            margin-top: 1rem
@media (max-width: 770px)
    .contact
        &__content
            margin-top: 0.625rem
        &__forms
            margin-top: 0.5rem
        &__input
            padding: 0.5rem
            &-question
                height: 5rem
        &__title
            margin-bottom: -0.28rem
        &__img
            max-height: 14.6rem
            margin-top: 0.6rem
@media (max-width: 725px)
    .contact
        &__input
            padding: 0.4rem
            width: 19rem
            &-question
                height: 5rem
        &__title
            font-size: $font-size-21
        &__subtitle
            font-size: $font-size-13
        &__img
            max-height: 14rem
        &__btn
            padding: 0.5rem
@media (max-width: 660px)
    .contact
        &__forms
            gap: 0.5rem
        &__input
            font-size: $font-size-12
        &__title
            margin-bottom: -0.28rem
        &__img
            max-height: 12rem
            margin-top: 0.2rem

@media (max-width: 620px)
    .contact
        margin-top: 3rem
        &__forms
            margin: 0
            width: 100%
        &__content
            display: flex
            flex-direction: column
            justify-content: flex-start
            margin-top: 1.125rem
        &__btn
            margin-bottom: 1.25rem
        &__error
            font-size: $font-size-12
        &__input
            width: 100%
            padding: 0.6rem
            font-size: $font-size-14
            &-question
                height: 8rem
                padding-top: 0.625rem
        &__img
            max-height: 100%
    .modal__contact
        &-title
            font-size: $font-size-20
        &-subtitle
            font-size: $font-size-13

@media (max-width: 330px)
    .contact
        margin-top: 1rem
        &__forms
            gap: 0.2rem
        &__title
            font-size: $font-size-16
        &__subtitle
            font-size: $font-size-12
        &__input
            font-size: 12px
            margin-top: 0.5rem
            &-question
                height: 7rem
        &__btn
            margin-top: 0.5rem
        &__error
            font-size: $font-size-10
    .modal__contact
        &-title
            font-size: $font-size-19
        &-subtitle
            font-size: $font-size-13
