@import '../../../styles/_variables-landing'
@media (max-width: 950px)
    .nav
        &__burger
            display: block
            position: absolute
            right: 1.7rem
        &__button
            display: none
            &--mobile
                display: block
                font-size: $font-size-16
                height: 2rem
                width: 8rem
        &__close
            display: block
            position: absolute
            right: 0.5rem
            top: 0.5rem
            z-index: 11
        &__list
            display: none
            li
                cursor: pointer
                transition: color .3s

                &:hover
                    color: $color-orange
        &__list--open
            display: flex
            flex-direction: column
            justify-content: flex-start
            position: absolute
            align-items: center
            right: 0
            top: 0
            bottom: 0
            background-color: white
            border-radius: 0 0 0 5px
            color: black
            width: 15.625rem
            z-index: 10
            padding: 3.125rem 1rem 1.875rem 1rem
            height: 100vh
            overflow-y: auto
            overflow-x: hidden
            font-size: $font-size-16
        &__overlay
            position: fixed
            top: 0
            right: 0
            bottom: 0
            left: 0
            background-color: rgba(0, 0, 0, 0.4)
            z-index: 9
@media (max-width: 600px)
    .nav
        &__wrapper
            padding: 1.25rem 2rem 3rem 2rem
@media (max-width: 400px)
    .nav
        &__list--open
            width: 13rem
            font-size: $font-size-13
@media (max-width: 300px)
    .nav
        &__list--open
            width: 11rem
            font-size: $font-size-12
