@import '../styles/variables'

%text-style
  color: $color-gray
  font-size: $font-size-2

%flex-space-between
  display: flex
  justify-content: space-between

%flex-space-right
  display: flex
  justify-content: right

%flex-column
  display: flex
  flex-direction: column

%flex-space-center
  display: flex
  justify-content: center

%button-style
  background-color: transparent
  border-style: none

%logo
  width: 90px
  height: auto
