$color-black: #000000
$color-back: #171717
$color-white: #FFFFFF
$color-orange: #ff5722
$color-light-gray: #E9E9E9
$color-checkmark: #747474
$color-error: #ff0000
$color-red: red

$font-size-10: 0.625rem
$font-size-12: 0.75rem
$font-size-13: 0.813rem
$font-size-14: 0.875rem
$font-size-15: 0.938rem
$font-size-16: 1rem
$font-size-17: 1.063rem
$font-size-18: 1.125rem
$font-size-19: 1.188rem
$font-size-20: 1.25rem
$font-size-21: 1.313rem
$font-size-22: 1.375rem
$font-size-23: 1.438rem
$font-size-24: 1.5rem
$font-size-25: 1.563rem
$font-size-27: 1.688rem
$font-size-28: 1.75rem
$font-size-30: 1.875rem
$font-size-35: 2.188rem
$font-size-40: 2.188rem
$font-size-50: 3.125rem
$font-size-60: 3.75rem
$font-size-65: 4.063rem
$font-size-70: 4.375rem
$font-size-80: 5rem
$font-size-88: 5.5rem
$font-size-100: 6.25rem
$font-size-120: 7.5rem
$font-size-150: 9.375rem
$font-size-200: 12.5rem

$font-weight-600: 600
$font-weight-500: 500
$font-weight-400: 400

$margin-auto: 0 auto

$max-width: 102.5rem

$border: 3px

$img-style: 12.813rem
