$color-white: #FFFFFF
$color-gray: #CCCCCC
$color-orange:#FF5722
$font-size-1: 0.75rem
$font-size-2: 0.975rem
$font-size-3: 1rem
$font-size-4: 1.125rem
$font-size-5: 1.875rem
$font-weight-normal: 400
$font-weight-medium: 500
$card-width: 21.875rem
$card-height: 9.375rem
$card-bg-color: #262626
$content-bg-main: #1E1E1E
$card-border-radius: 0.3125rem
$card-padding: 0.875rem 0.4375rem 0.75rem 0.875rem
$box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.15)
$cursor: pointer