$color-white: #FFFFFF
$color-gray: #CCCCCC
$color-orange: #FF5722
$color-orange-hover: #ea4d1d
$color-orange-active: #f45829
$card-bg-color: #262626
$card-bg-color-hover: #222222
$card-bg-color-active: #252525
$sidebar-bg-color-active: #333333
$content-bg-main: #1E1E1E
$color-bg-modal: #181818
$color-bg-input-edit: #606060
$color-settings-hover: #333
$color-settings-active: #3b3b3b
$color-dropdown-item: #606060
$color-dropdown-hover: #464646
$color-dropdown-active: #252525
$color-input-back: #393838
$color-error: #ff0000
$font-size-11: 0.688rem
$font-size-12: 0.75rem
$font-size-13: 0.813rem
$font-size-14: 0.875rem
$font-size-15: 0.938rem
$font-size-16: 1rem
$font-size-17: 1.063rem
$font-size-18: 1.125rem
$font-size-19: 1.188rem
$font-size-20: 1.25rem
$font-size-21: 1.313rem
$font-size-22: 1.375rem
$font-size-23: 1.438rem
$font-size-24: 1.5rem
$font-size-25: 1.563rem
$font-size-1: 0.75rem
$font-size-2: 0.975rem
$font-size-3: 1rem
$font-size-4: 1.125rem
$font-size-5: 1.875rem
$font-size-6: 1.25rem
$font-weight-normal: 400
$font-weight-medium: 500
$card-width: 18rem
$card-height: 8rem
$card-border-radius: 0.3125rem
$card-padding: 0.3rem 0.5rem 0.2rem 0.5rem
$box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.15)
$cursor: pointer
