@import 'variables-landing'
@import 'mixins-landing'

select
    font-size: 16px

html
    font-size: 16px
    background-color: black

h1, h2, h3, h4, h5, figure, p, ol, ul, button, div, span
    margin: 0
    font-family: "Roboto", sans-serif
    font-style: normal

    color: $color-white

img
    display: block
    max-inline-size: 100%

li:hover, a:hover, button:hover
    cursor: pointer

h3
    font-size: 1.438rem

body
    margin: 0
    background-color: $color-black

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0
