@import 'variables'
@import 'mixins'

html 
  font-size: 100%


h1, h2, h3, h4, h5, figure, p, ol, ul, button, div, span
  margin: 0
  font-family: "Roboto", sans-serif
  font-weight: $font-weight-medium
  font-style: normal


img
  display: block
  max-inline-size: 100%

li:hover, a:hover, button:hover
  cursor: pointer

h3 
  font-size: 23px