@import '../../styles/_variables'
    
.title
    display: flex
    justify-content: space-between
    padding-bottom: 1.875rem

    &__button
        background-color: transparent
        color: $color-white
        border-style: none
        font-size: $font-size-3

    &__heading
        font-size: $font-size-5
        color: $color-white