@import '../../../styles/_mixins'
@import '../../../styles/_variables'
@import '../../../styles/_placeholders'

.day-content
  &--with-wrapper
    +card-wrapper

  &__settings-menu
    width: 10rem
    font-size: $font-size-14

  &__settings-menu li:first-child
    @include settings-menu-item(0.75rem, 0.5625rem)

  &__settings-menu li:last-child
    @include settings-menu-item(0.5625rem, 0.75rem)

  &__icon-button
    @extend %button-style

  &__settings-icon
    margin-right: 0.7rem
    width: 1rem

  &__edit-description-input
    background-color: $color-bg-input-edit
    border-radius: 0.313rem
    outline: none
    @extend %text-style
    font-weight: $font-weight-normal
    width: 90%
    height: 45%

.day-content__card
  @extend %flex-space-between
  flex-direction: column

  +card
  &-title
    font-size: $font-size-20
  &-title-button
    @extend %flex-space-between
  &-date
    @extend %text-style
    font-weight: $font-weight-medium
    font-size: $font-size-14
  &-footer
    @extend %flex-space-between
    padding-right: 0.4375rem
    align-items: center
  &-description
    @extend %text-style
    font-weight: $font-weight-normal
    width: 90%
    font-size: $font-size-14

  &-button
    @extend %button-style
  &-exercises
    font-weight: $font-weight-normal
    color: $color-gray
    font-size: $font-size-14
