@import '../../styles/_variables'
@import '../../styles/_mixins'

.settings-modal
  @include settings-modal()

  &__container
    background-color: $color-bg-modal
    color: $color-white
    border-radius: 0.25rem
