@import '../../styles/_variables'

.header
    display: flex
    justify-content: space-between
    margin-bottom: 2.5rem
    align-items: center

    &__input-container
        position: relative
        display: inline-block
        z-index: 9

    &__input-field
        background-color: $card-bg-color
        width: 18rem
        height: 1.9rem
        border-radius: 0.3125rem
        color: $color-white
        outline: none
        padding-left: 0.5rem

        &::placeholder
            color: $color-gray
            padding-left: 7.5rem
            font-size: $font-size-14

        &:focus::placeholder
            color: transparent

    &__icon
        width: 1.8rem

    &__input-icon
        position: absolute
        top: 25%
        width: 1rem
        margin-left: 6.5rem

    &__input-container:focus-within .header__input-icon
        display: none

    &__no-results
        display: flex
        position: absolute
        background-color: $color-white
        width: 18rem
        height: 1.9rem
        align-items: center
        border-radius: 5px
        &-result
            color: black
            font-size: $font-size-14
            font-weight: $font-weight-normal

    &__no-results-icon
        width: 1rem
        margin-left: 0.313rem
        margin-right: 0.625rem
