@import "../../styles/_variables"


.sidebar
    background-color: $card-bg-color
    color: $color-white
    width: 18.75rem
    height: 100vh
    padding: 1.875rem 1.875rem

    &__app-name 
        margin-bottom: 3.75rem

    &__section-title 
        font-size: $font-size-1
        color: $color-gray
        margin-bottom: 1.25rem

    &__menu-item 
        font-size: $font-size-3
        display: flex
        align-items: center
        margin-bottom: 1.875rem

    &__icon
        width: 1.125rem
        margin-right: 1.25rem

        &--large
            margin-right: 0.8125rem

        &--medium
            margin-right: 1.125rem
   