@import "../../styles/_variables"
@import "../../styles/_mixins"

.sidebar
    &__burger,
    &__close,
    &__overlay
        display: none
        background: none
        border: none
        cursor: pointer

.sidebar
    position: fixed
    top: 0
    left: 0
    bottom: 0
    background-color: $card-bg-color
    color: $color-white
    width: 15.75rem
    flex-shrink: 0
    padding-top: 2rem
    overflow-y: auto
    padding: 2rem 1.4375rem 1.875rem

    &-icons
        font-size: 1.3rem
        color: white
        margin-right: 0.8125rem
        &__active
            font-size: 1.3rem
            color: #FF6600
            margin-right: 0.8125rem
    &__app-name
        margin-bottom: 3rem

    &__section-title
        font-size: $font-size-11
        color: $color-gray
        margin-bottom: 1.25rem

    &__menu-item
        font-size: $font-size-14
        display: flex
        align-items: center
        padding-top: 0.25rem
        padding-bottom: 0.2rem
        margin-bottom: 1rem
        padding-left: 0.4375rem
        padding-right: 0.4375rem
    &__text

.sidebar__menu-item.active
    background-color: $sidebar-bg-color-active
    border-radius: 0.313rem
.sidebar__menu-item:hover
    background-color: $sidebar-bg-color-active
    border-radius: 0.313rem

.sidebar__menu-item.active .sidebar__text
    color: $color-orange
