@import "../../styles/_variables"
@import "../../styles/_mixins"

.sidebar
    background-color: $card-bg-color
    color: $color-white
    width: 18.75rem
    flex-shrink: 0
    height: 100vh
    padding-top: 1.875rem
    padding-bottom: 1.875rem
    padding-left: 1.4375rem
    padding-right: 1.4375rem
    overflow-y: auto

    &__app-name
        margin-bottom: 3.75rem

    &__section-title
        font-size: $font-size-1
        color: $color-gray
        margin-bottom: 1.25rem

    &__menu-item
        font-size: $font-size-3
        display: flex
        align-items: center
        padding-top: 0.4375rem
        padding-bottom: 0.4375rem
        margin-bottom: 1rem
        padding-left: 0.4375rem
        padding-right: 0.4375rem

    &__icon
        width: 1.125rem
        margin-right: 1.25rem

        &--large
            margin-right: 0.8125rem

        &--medium
            margin-right: 1.125rem

.sidebar__menu-item.active
    background-color: $sidebar-bg-color-active
    border-radius: 0.313rem
.sidebar__menu-item:hover
    background-color: $sidebar-bg-color-active
    border-radius: 0.313rem

.sidebar__menu-item.active .sidebar__text
    color: $color-orange
