.app
    background-color: #1E1E1E
    display: flex
    width: 100%
    min-height: 100vh


    
    
    &__main
        padding: 1.875rem 3.125rem 0rem 3.125rem
        width: 100%
        min-height: 100vh
        
       