@import '../../styles/_variables'

.app
    padding-left: 15.75rem
    background-color: $content-bg-main
    display: flex
    width: 100%
    height: 100vh
    &__main
        padding: 1.875rem 3.125rem 0rem 3.125rem
        width: 100%
        min-height: 100vh

@media (max-width: 1150px)
    .app
        &__main
            padding: 1.875rem 1.125rem 0rem 1.125rem
@media (max-width: 1080px)
    .app
        &__main
            padding: 1.875rem 3.125rem 0rem 3.125rem
@media (max-width: 1000px)
    .app
        &__main
            padding: 1.875rem 1.125rem 0rem 1.125rem
@media (max-width: 840px)
    .app
        &__main
            padding: 1.875rem 3.125rem 0rem 3.125rem
@media (max-width: 755px)
    .app
        &__main
            padding: 1.875rem 1.125rem 0rem 1.125rem
@media (min-width: 1080px)
    .app
        padding-left: 0rem
