@import '../../styles/_variables'
@import '../../styles/_mixins'
@import '../../styles/_placeholders'

.exercise
    overflow-y: auto

    &__main
        display: flex
        flex-direction: column
        height: calc(100vh - 6rem)

    &__pagination
        +pagination

    &__modal-error
        color: $color-error
        font-size: $font-size-14

    &-modal__buttons
        margin-top: 0.625rem
    &-modal__input
        +modal-input

    &-modal__title
        font-size: $font-size-5
        margin-bottom: 0.938rem

    &-modal__inputs
        @extend %flex-space-between
        width: 100%
        margin-bottom: 0.625rem
        padding: 0 2.5rem
        &-input-label label
            display: block
            color: $color-gray
            font-weight: $font-weight-normal

    &-modal__inputs-input
        width: 7.5rem
        height: 2.688rem
        border-radius: 0.313rem
        background-color: $card-bg-color
        outline: none
        font-size: $font-size-6
        font-weight: $font-weight-medium
        color: $color-white
        padding-left: 0.375rem
        justify-content: center
        align-items: center
        text-align: center

    &-modal__input::placeholder
        font-size: $font-size-4
        color: $color-gray

    &-modal__input:focus::placeholder
        color: transparent

    &-modal__inputs-input::placeholder
        font-size: $font-size-6
        font-weight: $font-weight-medium
        color: $color-gray
        text-align: center
        padding-right: 0.375rem

    &-modal__inputs-input:focus::placeholder
        color: transparent

    &-modal__button-add
        +modal-btn
        &
            @include interactive-item($color-orange-hover, $color-orange-active)

    &-modal__button-cancel
        +modal-btn
        margin-right: 1.875rem
        background-color: $card-bg-color
        &
            @include interactive-item($card-bg-color-hover, $card-bg-color-active)
