@import '../../../styles/_mixins'
@import '../../../styles/_variables'
@import '../../../styles/_placeholders'

.exercise-content
    &--with-wrapper
        +card-wrapper
    &__card
        +card
    &__notepad-icon
        font-size: 1.4rem
    &__settings-menu
        width: 9rem
        font-size: $font-size-14
        &-item
            align-items: center
            &-icon
                padding-right: 0.5rem
                font-size: 1.7rem
    &__settings-icon
        font-size: 1.4rem
    &__settings-icon--active
        color: #FF6600
        font-size: 1.4rem
    &__settings-menu li:first-child
        @include settings-menu-item(0.55rem, 0rem)
    &__settings-menu li:last-child
        @include settings-menu-item(0.2rem, 0.55rem)
    &__card-title-button
        @extend %flex-space-between

    &__inputs
        @extend %flex-space-between
        text-align: center

        &-input::placeholder
            font-weight: $font-weight-medium
            color: $color-gray
            text-align: center
        &-input:focus::placeholder
            color: transparent
        &-input
            @extend %flex-space-center
            align-items: center
            text-align: center
        &-input-label input
            width: 5.2rem
            height: 1.8rem
            border-radius: 0.313rem
            background-color: $color-input-back
            outline: none
            font-weight: $font-weight-medium
            color: $color-white
        &-input-label label
            display: block
            color: $color-gray
            font-weight: $font-weight-normal
            font-size: $font-size-14

    &__card-button
        @extend %button-style
        height: 1.875rem
        padding-right: 0rem
    &__card-title-button
        height: 4.375rem
    &__card-title
        line-height: 1.2
        max-width: 13rem
        font-size: $font-size-3
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        padding-top: 5px

    &__edit-title-input
        background-color: $color-bg-input-edit
        border-radius: 0.313rem
        outline: none
        font-weight: $font-weight-normal
        width: 100%
        height: 50%
        color: white

    &__inputs-div
        @extend %flex-space-center
        align-items: center
        width: 5.2rem
        height: 1.8rem
        border-radius: 0.313rem
        background-color: $color-input-back
        font-weight: $font-weight-medium
        color: $color-white

    &__notes-modal-title
        margin-bottom: 1rem

    &__notes-modal-textarea
        width: 96%
        height: 25rem
        border-radius: 0.3125rem
        background-color: $card-bg-color
        border-style: none
        margin-bottom: 1.25rem
        color: white
        padding-left: 0.625rem
        outline: none
        padding-top: 0.625rem
        font-size: $font-size-14

    &__notes-modal-button-save
        +modal-btn
        &
        @include interactive-item($color-orange-hover, $color-orange-active)

    &__notes-modal-button-cancel
        +modal-btn
        margin-right: 1.875rem
        background-color: $card-bg-color
        &
        @include interactive-item($card-bg-color-hover, $card-bg-color-active)
