@import '../../../styles/_variables-landing'

@media (max-width: 700px)
    .privacy
        &__content
            padding: 0 2rem
        &__title
            font-size: $font-size-28
            margin-bottom: 0.313rem
        &__text
            font-size: $font-size-16
        &__subtitle
            font-size: $font-size-20
